{% load static %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Shopping</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <style>


div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div.img:hover {
    border: 1px solid #777;
}
div.img img {
    width: 100%;
    height: 250px;
}
div.desc {
    padding: 15px;
    text-align: center;
}

</style>
  </head>
  <body>
    <div style="width:1300px;">
    <div id="wrap">
      <header>
        <div>
        <h1 class="logo"><a href="#"><img src= "{% static '2bag.png' %}" alt="로고"></h1>
        <ul class="gnb">
          <li><a href="#shoes">Shoes</a></li>
          <li><a href="#Accessories">Accessories</a></li>
          <li><a href="order.html">Order</a></li>
          <li><a href="join.html">Join</a></li>
        </ul>
        </div>
      </header>
      <div id="container"> <img src= "{% static 'main.jpg' %}" alt="메인화면"  width="1000" height="400" > <a href="https://www.youtube.com/watch?v=U1amUPCxPi4">
        <div id="idx_top">
          <strong>click and watch</strong>
          <P> Spring Summer 2020 Paris-Fashion CHANNEL</P>

        </div>
      </div>

<pre>

	</pre>

   <hr>
<pre>
	</pre>
<!--SHOES-->
<div>

 <h2><a id="shoes"></a><li><a href="shoe.html">Shoes</a></li></h2>
      <div class="img">
  <a target="_blank" href="img_fjords.jpg">
    <img src="{% static 'shoe1.jpg' %}" alt="신발1"
    width="300" height="200">

  </a>
  <div class="desc">
    <p>1. MAISON MARGIELA</p>
    <p>Tabi leather split-toe boot</p>
    <p>₩810,000</p>
  </div>
</div>
<div class="img">
  <a target="_blank" href="img_forest.jpg">
    <img src="{% static 'shoe2.jpg' %}" alt="신발2" width="300" height="200">
  </a>
  <div class="desc">
    <p>2. MANOLO BLAHNIK</p>
    <p>Hangisi satin flats</p>
    <p>₩954,000</p></div>
</div>
<div class="img">
  <a target="_blank" href="img_lights.jpg">
    <img src="{% static 'shoe3.jpg' %}" alt="신발3" width="300" height="200">
  </a>
  <div class="desc">
    <p>3. DR.MARTENS</p>
    <p>1460 8-eye leather boots</p>
    <p>₩173,000</p>
  </div>
</div>
<div class="img">
  <a target="_blank" href="img_lights.jpg">
    <img src="{% static 'shoe4.jpg' %}" alt="신발4" width="300" height="200">
  </a>
  <div class="desc">
    <p>4. CHRISTIAN LOUBOUTIN</p>
    <p>Iriza 70 suede</p>
    <p>₩1,890,000</p>
  </div>
</div>
<div class="img">
  <a target="_blank" href="img_lights.jpg">
    <img src="{% static 'shoe5.jpg' %}" alt="신발5" width="300" height="200">
  </a>
  <div class="desc">
    <p>5. FENDI</p>
    <p>Roma lace-up canvas espadrille sandals</p>
    <p>₩595,000</p>
  </div>
</div>
<div class="img">
  <a target="_blank" href="img_lights.jpg">
    <img src="{% static 'shoe6.jpg' %}" alt="신발6" width="300" height="200">
  </a>
  <div class="desc">
    <p>6. JIMMY CHOO</p>
    <p>Atia flat leather sandals</p>
    <p>₩590,000</p>
  </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 <hr>
 <pre>
	</pre>
<!--Accessories-->
<div>

 <h2><a id="Accessories"></a>ACCESSORIES</h2>
      <div class="img">
  <a target="_blank" href="img_fjords.jpg">
    <img src="{% static 'A1.jpg' %}" alt="악세사리1"
    width="300" height="200">
  </a>
  <div class="desc">
    <p>1. GENTLE MONSTER</p>
    <p>Till Dawn acetate and stainless steel sunglasses</p>
    <p>₩260,000</p>
  </div>
</div>
<div class="img">
  <a target="_blank" href="img_forest.jpg">
    <img src="{% static 'A2.jpg' %}" alt="악세사리2" width="300" height="200">
  </a>
  <div class="desc">
    <p>2. VERSACE</p>
    <p>Logo-print hai scruchie</p>
    <p>₩125,000</p></div>
</div>
<div class="img">
  <a target="_blank" href="img_lights.jpg">
    <img src="{% static 'A3.jpg' %}" alt="악세사리3" width="300" height="200">
  </a>
  <div class="desc">
    <p>3. ACNE STUDIOS</p>
    <p>Check print Vally blanket scarf</p>
    <p>₩635,000</p>
  </div>
</div>
<div class="img">
  <a target="_blank" href="img_lights.jpg">
    <img src="{% static 'A4.jpg' %}" alt="악세사리4" width="300" height="200">
  </a>
  <div class="desc">
    <p>4. MAJE</p>
    <p>Virgo zodiac brass coin necklace</p>
    <p>₩86,000</p>
  </div>
</div>
<div class="img">
  <a target="_blank" href="img_lights.jpg">
    <img src="{% static 'A5.jpg' %}" alt="악세사리5" width="300" height="200">
  </a>
  <div class="desc">
    <p>5. PANDORA</p>
    <p>Beaded Ring</p>
    <p>₩56,000</p>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<pre>
</pre>
  <footer class="shopping">
  <p>copyright (c) 1997 shurong Inc. All rights reserved</p>
   <h1 class="logo"><a href="https://www.instagram.com/"><img src="{% static 'ins.jpg' %}" alt="인스타"width="30" height="30"> </h1>
</footer>
</body>

